
html {
    background-color: lighten($color-inco-light, 50%);
}

header {
    div#header-title {
        font-size: 5vw;
        line-height: 5vw;
    }
}

body {
    margin: auto;
    max-width: 1000px;
    // border: solid 1px $color-b;
    box-shadow: 0 4px 8px 0 $color-dark-strong, 0 6px 20px 0 $color-dark-strong;
}