
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.header-bck-img {
    background-image: url("./../pics/london-metro.jpg");
    background-size: cover;
}

.header-container {
    .primary-nav {
        flex-direction: row;
        height: 16em;
    }

    div#header-title {
        font-size: 7vw;
        line-height: 7vw;
    }
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

main {
    
}

.contact-main {
    display: flex;
    flex-direction: row;

    .contact-section {
        margin-right: 10px;
    }
}


/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

footer {

}


