@mixin in-text {
    padding: 10px;
}

/* ------------------------------------------------------------ */
/* General */
/* ------------------------------------------------------------ */

body{
    min-width: 300px;
} 

html {
    /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;

    height: 100%;
    background-color: $color-inco-strong !important;
}

a {
    color: white;
    font-weight: 700;
    // text-shadow: 0 0 3px white;
}

ul {
    margin-left: 20px;
}

.no-flex-grow {
    flex-grow: 0;
}

p {
    margin-bottom: 10px;
}

/*  apply a natural box layout model to all elements  */
* {
     -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    font-family: 'Didact Gothic', 'Lucida Grande', Tahoma, Sans-Serif;
    background-color: $color-inco-light;
    font-size: 19px;
    line-height: 1.3em;
    min-height: 100%;

    display: flex;
    flex-flow: column;
}


.fa {
    text-shadow: none;
    padding: 0.4em;
    font-size: 1.1em;
    width: 2em;
    margin: 0.1em;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
    background: $color-dark-light;
    color: white;

    @media (hover: hover) { 
        &:hover {
            opacity: 0.7;
            color: $color-dark-strong;
            background-color: $color-bright-medium;
            -webkit-transition: 00.5s;
            -moz-transition:    00.5s;
            -ms-transition:     00.5s;
            -o-transition:      00.5s;
            transition:         00.5s;
        }
    }
}

/* ------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------ */

.header-wrap {
    background-size: cover;
    background-position: center;  
    padding: 10px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    background-color: $color-inco-strongest;
    flex-direction: column;

    // text-shadow: 0 0 10px white;

    .header-title {
        text-align: center;
        line-height: 0.8em;
        font-size: 2em;
    }
    .header-subtitle {
        font-size: 2em;
    }
}

/* ------------------------------------------------------------ */
/* Main */
/* ------------------------------------------------------------ */


.main-item { 
    padding: 20px;
    margin: 5px;
    min-height: 150px;
    background-size: cover;
    background-position: center;  
    overflow: hidden;
    
    transition: 0.5s ease-out;

    &.not-expanded {
        opacity: 0.7;
        transition: 0.5s ease-out;

        &:hover {
            opacity: 1;
            transition: 0.5s;
        }
    }

    &.expanded {
        // height: auto;
        min-height: 500px;
        display: flex;
        flex-direction: column;

        transition: 0.5s ease-out;

        .main-item-title {
            .title-text {
                text-shadow: 2px 2px 3px black;
                color: white;
            }
        }
    }

    .main-item-title {
        min-height: 110px;
        cursor: pointer;

        .title-text {
            font-size: 2.5em;
            letter-spacing: 3px;
            font-weight: 700;
            text-shadow: 2px 2px 3px white;
            height: 1em;
        }

        .title-note {
            color: white;
            text-shadow: 2px 2px 3px black;
            font-size: 1.1em;
        }
    }

    .main-item-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        flex-grow: 1;
        opacity: 0;
        transition: 0.5s ease-out 0s;

        &.main-item-content-shown {
            max-height: 1000px;
            opacity: 1;
            transition: 0.5s ease-out 0.5s;
        }
    }

    .title {
        font-size: 1.2em;
        height: 1em;
        color: black;
        text-shadow: 2px 2px 2px white;
        word-break: break-all;
    }

    .content-item {
        color: white;
        text-shadow: 2px 2px 0 black;
        font-size: 1.3em;
        text-align: center;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        word-wrap: break-all;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.social-med-icons {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.zoom-link {
    transition: .5s ease-out;
    margin-bottom: 5px;

    &:hover {
        text-decoration: initial;
        transform: scale(1.2);
        transition: .5s ease-out;
    }
}

.boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.box-item-wrap {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    // height: 120px;
    overflow: hidden;
    opacity: 1;
    background-color: white;
    border: solid 2px black;
}

.box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;    
    opacity: 0.7;
    transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 84%;
        // line-height: 1.25em;
        text-decoration: none;
        color: initial;
        opacity: 1;
        z-index: 999;
        transform: scale(1.2);
    }
}

.box-title {
    color: black;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 0px white;
    margin-bottom: 10px;
}

.box-note {
    font-style: italic;
    color: white;
    text-shadow: 1px 1px 0px black;
    text-align: center;
}

main {
    flex: 0 1 auto;
    background-color: black;
    // padding: $main-padding; 
}

.iframe-div {
    position: relative;
    width: 100%;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 51%;
    flex-grow: 1;
    // border: solid 2px black;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.center-content-vert {
    margin-top: auto;
    margin-bottom: auto;
}

div.pre-section {
    margin-bottom: 20px;
}

.float-container {
    overflow: hidden;
}

div.page-section {
    // border: 2px solid $color-dark-light;
    padding: 2%;
    margin-top: 2%;
    overflow: hidden;

    hr {
        margin: 5px;
    }

    &:nth-child(1) {
        margin-top: 0;
    }

    &:nth-child(odd) {
        background-color: $color-inco-medstrong;
    }

    &:nth-child(even) {
        background-color: $color-inco-medlight;
    }

    .section-main {
        margin-bottom: 10px;
        display: flex;
    }

    .page-sec-title {
        flex-grow: 1;
        font-size: 20px;
        font-weight: 800;
        display: inline-block;
    }
}

.flex-part {
    flex-grow: 1;
}

img {
    // border: solid $color-dark-strong 2px;
    display: block;
    width: 100%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

.in-text {
    // float: left;
    // width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    @include in-text;
}

.text {
    @include in-text;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

// .float-right {
//     float: right;
// }

// .float-left {
//     float: right;
// }

.about-face {
    font-weight: 1000;
    color: $color-dark-strong;
    font-variant: small-caps;
}

.cause-sum {
    font-size: 25px;
    font-weight: 1000;
    float: right;
    color: $color-bright-light;
    text-shadow: 0 0 5px $color-dark-light;
}

.contact-section {
    #captcha-image {
        margin: 0;
    }
    
    #powered-by-snap {
        display: inline-block;
        font-size: 0.8em;
    }
}

.raised-sum {
    color: $color-bright-light;
}

.page-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: $color-inco-strongest;
    font-variant: small-caps;
    text-shadow: 0 0 10px white;
    margin-bottom: 10px;
}

.everyday-album {
    display: block;
    margin-bottom: 10px;
    padding:10px;
}

.clear-float {
    clear: both;
}

.news-title {
    display: block;
    margin-top: 20px;
    font-size: 1.5em;
}

.news-date {
    font-size: 20px;
    font-weight: 1000;
    color: $color-inco-strongest;
    text-shadow: 0 0 5px white;
}

.repertoire-tbl {
    width: 100%;
    table-layout: fixed;

    th {
        font-size: 0.9em;
        vertical-align: bottom;
    }

    .th-artist {
        width: 25%;
    }

    .th-name {
        width: 23%;
    }

    .th-props {
        width: 12%;
    }

    .th-tags {
        width: 35%;
    }

    th.rotate {
        width: 20px;
        vertical-align: middle;
        text-align: left;
        white-space: nowrap;
    }

    th.rotate > div {
        transform: 
          /* Magic Numbers */
          translate(0px, 30px)
          /* 45 is really 360 - 45 */
          rotate(-45deg);
        width: 20px;
    }
}

.repe-item {
    font-size: 0.8em;
    height: 3em;

    td {
        padding: 5px;
    }

    td.repe-props {
        text-align: center;
    }

    &:nth-child(odd) {
        td:nth-child(1) {
            background-color: $color-inco-strong;
        }

        td:nth-child(2) {
            background-color: $color-inco-medstrong;
        }

        td:nth-child(3) {
            background-color: $color-inco-strong;
        }

        td:nth-child(4) {
            background-color: $color-inco-medstrong;
        }
    }

    &:nth-child(even) {
        td:nth-child(1) {
            background-color: $color-inco-medium;
        }

        td:nth-child(2) {
            background-color: $color-inco-medlight;
        }

        td:nth-child(3) {
            background-color: $color-inco-medium;
        }

        td:nth-child(4) {
            background-color: $color-inco-medlight;
        }
    }

    &.repe-selected {
        td.repe-name {
            color: black;
            background-color: white;
        }
    }
}

.repe-top {
    font-size: 0.8em;
}

.repe-artist {
    cursor: pointer;

    @media (hover: hover) { 
        &:hover {
            font-weight: 1000;
            text-shadow: 0 0 3px white;
        }
    }

    &.is-active {
        border: 1px solid $color-bright-light;
    }
}

td.repe-name {
    cursor: pointer;

    @media (hover: hover) { 
        &:hover {
            color: black;
            background-color: white !important;
        }
    }
}

.tickcross {
    background-color: $color-inco-strongest;
    display: inline-block;
    border-radius: 2px;
    font-weight: 1000;
    font-size: 1.2em;
    padding: 0 5px;
    margin: 0 1px;
    cursor: pointer;

    &.tick {
        color: #6fda4f71;
    }
    
    &.cross {
        color: #e2485a93;
    }

    &.is-active {
        border: 1px solid $color-bright-light;
    }
}

.repe-tag {
    border-radius: 2px;
    padding: 1px 3px;
    background-color: #1d1a1a48;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    
    &.is-active {
        border: 2px solid $color-bright-light;
    }
}

.repe-buttons {
    align-items: stretch;
    flex-direction: row;
    display: flex;
}

.repe-button {
    flex-grow: 1;
    justify-content: center;
    border: solid 1px white;
    cursor: pointer;
    display: inline-flex;
    padding: 5px;
    margin: 4px;
    border-radius: 4px;
    background-color: $color-inco-medstrong;

    @media (hover: hover) { 
        &:hover {
            background-color: $color-bright-medium;
        }
    }
}

.tag-div {
    margin-top: 8px;
    margin-bottom: 8px;
}

.active-filters-heading {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    display: block;
}

.tags-heading {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    display: block;
}

.active-filter {
    cursor: pointer;
    display: inline-block;
    background-color: $color-inco-medlight;
    border-radius: 2px;
    padding: 3px;
    margin: 3px;
    width: 100%;
}

.remove-filter {
    float: right;
}

.tag-float-right {
    @media only screen and (min-width: 576px) {
        float:right;
    }
}

.inline-flex {
    display: inline-flex;
}

figure {
    // padding: 0;
}

.caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

.predef-set {
    border-radius: 2px;
    border: solid black 1px;
    display: inline-block;
    margin: 3px;
    padding: 3px;
    background-color: $color-inco-medlight;

    &.last {
        background-color: $color-inco-light;
    }

    @media (hover: hover) { 
        &:hover {
            cursor: pointer;
            background-color: $color-inco-medstrong;
        }
    }
}

.soundcloud-embed {
    font-size: 1.5em;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    // border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-bright-medlight;

    @media (hover: hover) { 
        &:hover {
            cursor: pointer;
            background-color: $color-bright-medium;
            box-shadow: 0 0 8px 4px rgba($color-dark-strong, .7);
            transition: 00.5s;
        }
    }

    .soundcloud-title {
        font-style: italic;
    }
}

.section-tag {
    border-radius: 2px;
    border: 1px solid $color-dark-light;
    padding: 1px 3px;
    background-color: #6e9e2e48;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    
    &.is-active {
        border: 2px solid $color-bright-light;
    }
}

.section-extra {
    float: right;
}

.soundcloud-wrap {

}

.soundcloud-bck {
    font-size: 0.8em;
    color: $color-dark-strong;
    font-style: italic;
    background-color: white;
    border-radius: 3px;
}

/* ------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------ */

footer {
    color: white;
    flex: 1 1 $footer-height;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    text-align: center;
    background-color: $color-inco-strongest;
}
  