$color-bright-lightest: #e76969;
$color-bright-light: #c95353;
$color-bright-medlight: #b14848;
$color-bright-medium: #9c1616;
$color-bright-strong: #4e0909;

$color-alt-light: #f7e478;

$color-dark-light: #5a5560;
$color-dark-medium: #46344e;
$color-dark-strong: #331f3b;

$color-title-trans: #16150763;

$color-inco-light: #82a9ff;
$color-inco-medlight: #6790e9;
$color-inco-medium: #436cc4;
$color-inco-medstrong: #2f4f94;
$color-inco-strong: #224286;
$color-inco-strongest: #0e1e41;

$footer-height: 50px;
$main-padding: 1.5%;